<!--
  Generated template for the Ticketing page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Violator's Ticket</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="floatbutton">

<input type="hidden" [(ngModel)]="driverDetails.dblLongitude" />
<input type="hidden" [(ngModel)]="driverDetails.dblLatitude" />
<input type="hidden" [(ngModel)]="driverDetails.isExists" />
<div padding>
  <ion-segment [(ngModel)]="ViolatorsProfile">
    <ion-segment-button value="Personal" class="active">
      Personal Info
    </ion-segment-button>
    <ion-segment-button value="Vehicle">
      Vehicle Info
    </ion-segment-button>
    <ion-segment-button value="Ticket">
      Violation
    </ion-segment-button>    
  </ion-segment>
</div>

<div [ngSwitch]="ViolatorsProfile">
  <ion-list *ngSwitchCase="'Personal'">

	  <ion-item>
	  	<ion-icon name="card" item-left></ion-icon>
	    <ion-input type="text" placeholder="License Number" [(ngModel)]="driverDetails.strDriverLicense"></ion-input>
	  </ion-item>
	  <button ion-button full secondary icon-left (click)="searchDriver(driverDetails.strDriverLicense)">
	  	<ion-icon name="checkmark"></ion-icon>
	  	Check License Number
	  </button>
	  <br>
	  <ion-item>
	  	<ion-icon name="person" item-left></ion-icon>
	    <ion-input type="text" placeholder="First Name" [(ngModel)]="driverDetails.strDriverFirstName"></ion-input>
	  </ion-item>
	  <ion-item>
	  	<ion-icon name="person" item-left></ion-icon>
	    <ion-input type="text" placeholder="Middle Name" [(ngModel)]="driverDetails.strDriverMiddleName"></ion-input>
	  </ion-item>
	  <ion-item>
	  	<ion-icon name="person" item-left></ion-icon>
	    <ion-input type="text" placeholder="Last Name" [(ngModel)]="driverDetails.strDriverLastName"></ion-input>
	  </ion-item>
	  <ion-item>
	  	<ion-icon name="calendar" item-left></ion-icon>
      <ion-datetime placeholder="Birth Day" displayFormat="DD/MM/YYYY" [(ngModel)]="driverDetails.datDriverBirthday"></ion-datetime>
	  </ion-item>
	  <ion-item>
	  	<ion-icon name="card" item-left></ion-icon>
      <ion-datetime placeholder="License Expiration Date" displayFormat="DD/MM/YYYY" [(ngModel)]="driverDetails.datLicenseExpiration">
      </ion-datetime>
	  </ion-item>
      	<ion-list>
            <ion-item>
            <ion-icon name="card" item-left></ion-icon>
              <ion-label>License Type</ion-label>
              <ion-select cancelText="Cancel" okText="Okay" [(ngModel)]="driverDetails.intLicenseType">
                <ion-option value="1">Student</ion-option>
                <ion-option value="2">Non-Professional</ion-option>
                <ion-option value="3">Professional</ion-option>
              </ion-select>
            </ion-item>
        </ion-list>
  </ion-list>

  <ion-list *ngSwitchCase="'Vehicle'">
	  <ion-item>
	  	<ion-icon name="car" item-left></ion-icon>
	    <ion-input type="text" placeholder="Plate Number" [(ngModel)]="vehicleInfo.strPlateNumber"></ion-input>
	  </ion-item>
	  <ion-item>
	  	<ion-icon name="car" item-left></ion-icon>
	    <ion-input type="text" placeholder="Registration Number" [(ngModel)]="vehicleInfo.strRegistrationNumber"></ion-input>
	  </ion-item>
      	<ion-list>
            <ion-item>
            <ion-icon name="car" item-left></ion-icon>
              <ion-label>Vehicle Type</ion-label>
              <ion-select cancelText="Cancel" okText="Okay" [(ngModel)]="vehicleInfo.intVehicleType">
                  <ion-option value="1">BUS</ion-option>
                  <ion-option value="2">CAR</ion-option>
                  <ion-option value="3">AUV</ion-option>
                  <ion-option value="4">JEEPNEY</ion-option>
                  <ion-option value="5">MOTORCYLCE</ion-option>
                  <ion-option value="6">TAXI</ion-option>
                  <ion-option value="7">TRAILER</ion-option>
                  <ion-option value="8">TRICYCLE</ion-option>
                  <ion-option value="9">TRUCK</ion-option>
                  <ion-option value="10">UTILITY</ion-option>
                  <ion-option value="11">VAN</ion-option>
              </ion-select>
            </ion-item>
        </ion-list>
  </ion-list>

  <ion-list *ngSwitchCase="'Ticket'">
 	  <button ion-button full secondary icon-left (click)="showListOfViolations( driverDetails.strDriverLicense, driverDetails.strDriverFirstName,
 	  			driverDetails.strDriverMiddleName, driverDetails.strDriverLastName, driverDetails.datDriverBirthday, driverDetails.datLicenseExpiration, driverDetails.intLicenseType, vehicleInfo.strPlateNumber, vehicleInfo.strRegistrationNumber, vehicleInfo.intVehicleType, driverDetails.isExists)">
	  	<ion-icon name="add"></ion-icon>
	  	Add Violation/s
	  </button>

	  	<ion-list-header>
          Violation/s
        </ion-list-header>
          <ion-item *ngFor="let violationsSelected of violationsSelectedObject">
            <h2>{{violationsSelected.strViolationDescription}}</h2>
            <p>Php {{violationsSelected.dblPrice}}</p>
            <p>{{violationsSelected.strViolationCode}}</p>
          </ion-item>

 	  <!-- <button ion-button full color="secondary" icon-left>
	  	<ion-icon name="done-all"></ion-icon>
	  	Fine Ticket
	  </button> -->
  </ion-list>
</div>

</ion-content>
<ion-footer *ngIf="violationsSelectedObject!= null">
    <button ion-button full color="secondary" icon-left (click)="fileTicket(driverDetails.dblLongitude,driverDetails.dblLatitude,driverDetails.strDriverLicense,driverDetails.strDriverFirstName,driverDetails.strDriverMiddleName,driverDetails.strDriverLastName,driverDetails.datDriverBirthday,driverDetails.datLicenseExpiration,driverDetails.intLicenseType,vehicleInfo.strPlateNumber,vehicleInfo.strRegistrationNumber,vehicleInfo.intVehicleType,driverDetails.isExists)">
      <ion-icon name="done-all"></ion-icon>
      File Ticket
    </button>
</ion-footer>
